!Base.lproj/
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
# Xcode
*.hmap
*.lock
*.mode1v3
*.mode2v3
*.moved-aside
*.orig
*.pbxuser
*.perspectivev3
*.swp
*.xcworkspace
*/build/*
*BACKUP*
*BASE*
*REMOTE*
*~.nib
.DS_Store
.idea/
DerivedData
Podfile.lock
Pods/
build/
profile
xcuserdata
*.pcvd
